*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

input, button {
    height: 22px;
    font-family: inherit;
}

/************************/
/* Spritesheets sidebar */
/************************/

.sidebar {
    min-width: 200px;
    max-width: 200px;
    flex: 0 1 100px;
    overflow: auto;
    background: #F1F1F1;
    border-right: 0.5px solid #BBB;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
}

.sheets-header {
    padding: 5px;
    border-bottom: 0.5px solid #BBB;
    display: flex;
    justify-content: space-between;
    min-height: 32.5px;
    height: 32.5px;
    /*text-align: center;*/
}
.sheets-header h1 {
    font-size: 18px;
    font-family: 'Asap', 'Trebuchet MS', sans-serif;
    height: 22px;
    margin: 0;
}

.sheets-list {
    margin: 0;
    padding: 0;
    flex: 0 1 100%;
    overflow-y: scroll;
}
.sheets-list .spritesheet {
    padding: 5px;
    cursor: pointer;
}
.sheets-list .spritesheet.active {
    background: #DDD;
}

.sheets-footer {
    padding: 5px;
    width: 100%;
    display: flex;
    border-top: 0.5px solid #BBB;
    min-height: 33px;
}
.sheets-footer button {
    display: block;
    flex: 0 1 100%;
    text-align: center;
    height: 22px;
}
.sheets-footer button + button {
    margin-left: 5px;
}

/********************/
/* Main editor area */
/********************/

.main-view {
    flex: 0 1 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;
}

/********************/
/* Editing controls */
/********************/

.spritesheet-actions {
    /*flex: 0 1 50%;*/
    display: flex;
    /*margin-bottom: 5px;*/
    background: #F1F1F1;
    padding: 5px;
    border-bottom: 0.5px solid #BBB;
    min-height: 32.5px;
    height: 32.5px;
}
.spritesheet-actions * {
    height: 22px;
}
.spritesheet-actions button {
    /*width: 100px;*/
}
.spritesheet-actions input[type="number"] {
    width: 40px;
}
.spritesheet-actions .spritesheet-title {
    /*flex: 0 1 100%;*/
    font-weight: bold;
    /*border: none;*/
    font-size: 16px;
    border: 0;
    background: transparent;
}
.spritesheet-actions .spritesheet-title:not(:hover):not(:focus) {
    /*border-color: transparent;*/
}
.spritesheet-actions .input-group {
    display: flex;
    height: 22px;
    /*background: #F7F7F7;*/
    /*box-shadow: inset 0 0 0 0.5px #A9A9A9;*/
    padding: 0 5px;
}
.spritesheet-actions .right {
    position: absolute;
    right: 0;
    padding: 0 5px;
    display: flex;
}
.spritesheet-actions * {
    display: flex;
}
.spritesheet-actions *+* {
    margin-left: 5px;
}

/**************************/
/* Face edit/preview area */
/**************************/

.faces-and-previews {
    flex: 0 1 100%;
    overflow-y: scroll;
}
.faces-and-previews .tab {
    margin: 5px;
}
.tab:not(.active) {
    display: none;
}
.tabbed .tab-buttons {
    position: absolute;
    right: 17px;
    bottom: 0;
    padding: 5px;
}
.preview-css {
    font-family: 'Source Code Pro', monospace;
    white-space: pre-wrap;
    -webkit-user-select: all;
}
.preview-raw-data {
    font-family: 'Source Code Pro', monospace;
    -webkit-user-select: all;
}

/* Faces */

.face {
    -webkit-user-select: all;
    color: #FFF;
    font-family: 'Verdana', sans-serif; /* Reddit font stack */
    text-shadow:
        1px 1px #000,
        1px 0 #000,
        1px -1px #000,
        0 -1px #000,
        -1px -1px #000,
        -1px 0 #000,
        -1px 1px #000,
        0 1px #000;
}
