*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
}

input, button {
    height: 22px;
}

/************************/
/* Spritesheets sidebar */
/************************/

.sidebar {
    min-width: 200px;
    max-width: 200px;
    flex: 0 1 100px;
    overflow: auto;
    background: #F1F1F1;
    border-right: 0.5px solid #BBB;
    position: relative;
    display: flex;
    flex-direction: column;
}

.sheets-header {
    padding: 5px;
    border-bottom: 0.5px solid #BBB;
    text-align: center;
}
.sheets-header h1 {
    font-size: 18px;
    height: 22px;
    margin: 0;
}

.sheets-list {
    margin: 0;
    padding: 0;
    flex: 0 1 100%;
    overflow-y: scroll;
}
.sheets-list .spritesheet {
    padding: 5px;
    cursor: pointer;
}
.sheets-list .spritesheet.active {
    background: #DDD;
}

.sheets-footer {
    padding: 5px;
    width: 100%;
    display: flex;
    border-top: 0.5px solid #BBB;
    min-height: 33px;
}
.sheets-footer button {
    display: block;
    flex: 0 1 100%;
    text-align: center;
    height: 22px;
}
.sheets-footer button + button {
    margin-left: 5px;
}

/********************/
/* Main editor area */
/********************/

.main-view {
    flex: 0 1 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

/* Editing controls */
.editor {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.editor .actions {
    display: flex;
    margin-bottom: 5px;
}
.editor .actions > * {
    height: 22px;
}
.editor .actions > * + * {
    margin-left: 5px;
}
.editor .actions > button {
    /*width: 100px;*/
}
.editor .actions .spritesheet-title {
    /*flex: 0 1 100%;*/
    font-weight: bold;
    /*border: none;*/
    font-size: 18px;
}
.editor .actions .spritesheet-title:not(:hover):not(:focus) {
    /*border-color: transparent;*/
}

/* Preview area */
.previews {
    border-top: 0.5px solid #BBB;
    /*background: #F1F1F1;*/
    flex: 0 1 50%;
    overflow-y: scroll;
}
.preview {
    margin: 5px;
}
.preview:not(.active) {
    display: none;
}
.preview-toggles {
    position: absolute;
    right: 17px;
    bottom: 0;
    padding: 5px;
}
